.content {
    padding: 40px;
    height: calc((100% - 70.8px));
    overflow-y: auto;
    overflow-x: hidden;

    .card-header {
        margin-bottom: 5px;
    }

    .input-fields {
        margin-top: 10px;
    }

    .modal-button {
        background-color: #008080;
        width: 100%;
        border-radius: 10px;
        margin-top: 10px;
    }

    .modal-button:hover {
        opacity: 50%;
    }
}

.error-message {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #950404;
    font-weight: bold;
}

@media screen and (max-width: 1150px) {
    .positions-container {
        flex-wrap: wrap !important;

        .positions {
            border-radius: 0;
            margin-inline-start: 0 !important;
        }
    }
}