/* CSS for the confirm modal */

.confirm-container {
    width: 100%;
    padding: 20px;

    .header {
        margin-bottom: 20px;
        text-align: center;
    }

    .button {
        width: 50%;
        color: white;
        box-shadow: 0 0 20px -4px #000;
        border-color: transparent;

        &.cancel {
            background-color: grey;
        }

        &.confirm {
            background-color: #008080;
        }

        &.cancel:hover, &.delete:hover {
            opacity: 75%;
        }


    }
}