.layout {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.page {
    padding: 50px;
}

.container {
    overflow-y: auto;
    overflow-x: hidden;
}

.disabled {
    pointer-events: none;
    user-select: none;
    filter: blur(5px);
}