.profile {
    transition: height .5s;
    height: 5vh;
    overflow: hidden;

    .tab {
        display: flex;
        flex-direction: row;
        cursor: pointer;

        .text {
            margin: auto;
            margin-left: 30px !important;
            font-size: larger;
            font-weight: bold;
        }

        .icon {
            margin: 10px;
            cursor: pointer;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    }

    &.active {
        height: 20vh;
    }

    .tab:not(.switcher):hover {
        background-color: hsl(0, 0%, 100%, 0.1);
    }
}
