.flex-container {
  width: 100%;
  box-shadow: 0px 10px 25px -4px #000;
  z-index: 5;
  position: relative;
  background-color: #008080;
  display: flex;
  flex-shrink: 0;

  .amplify-button {
    display: none;
    margin: 10px;
    padding: 10px;
    border: none;
    color: #fff;

    .amplify-icon {
      width: 1.4rem !important;
      height: 1.4rem !important;
    }

    .amplify-icon>svg {
      width: 1.4rem !important;
      height: 1.4rem !important;

    }
  }

  .tab-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    .navbar {
      z-index: 5;
      border-color: transparent;
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      .item {
        transition: border .5s ease-in-out;
        font-size: larger;
        font-weight: bold;
        padding: 20px;
        border-color: transparent;
        z-index: 5;
        display: flex;
        justify-content: center;

        .amplify-text {
          color: #fff;
          margin-top: auto;
          margin-bottom: auto;
        }

        .icon {
          margin-right: 5px;
          margin-top: auto;
          margin-bottom: auto;
        }
      }

      .item:hover,
      .item[aria-selected='true'] {
        border-color: white;
      }
    }
  }
}

.amplify-menu__wrapper {
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;

  .amplify-menu__content {
    overflow: auto !important;

    .amplify-button:hover {
      background-color: #008080;
    }
  }
}

@media screen and (max-width: 1100px) {
  .flex-container {
    .tab-container {
      .navbar {
        .item {
          font-size: medium;
        }

        .icon {
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .flex-container {
    .tab-container {
      .navbar {
        .item {
          font-size: small;
        }

        .icon {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 862px) {
  .flex-container {
    .amplify-button {
      display: flex;
    }

    .tab-container {
      .navbar {
        .item {
          display: none;
        }

        .icon {
          font-size: 0.75rem;
        }
      }
    }
  }
}