.flex-container {
  width: 100%;
  box-shadow: 0px 10px 25px -4px #000;
  z-index: 5;
  position: relative;
  background-color: #008080;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  gap: 40px;
  padding-left: 30px;
  padding-right: 10px;
  min-width: fit-content;

  .header {
    display: flex;
    justify-self: start;
    align-self: center;
    color: #f7f5ef;
    flex-wrap: nowrap;
    text-wrap: nowrap;
  }

  .MuiBadge-root {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
  }

  .MuiBadge-badge {
    display: none;
    margin-bottom: auto;
    margin-right: 10px;
    margin-top: auto;
  }

  .amplify-button--menu {
    padding: 10px !important;

    .MuiBadge-root {
      .MuiBadge-badge {
        margin-right: -10px !important;
      }
    }
  }

  .amplify-menu__trigger {
    margin-right: 10px;
  }

  .amplify-button {
    display: none;
    border: none;
    padding: 0;
    color: #f7f5ef;

    .amplify-icon {
      width: 1.4rem !important;
      height: 1.4rem !important;
    }

    .amplify-icon>svg {
      width: 1.4rem !important;
      height: 1.4rem !important;

    }
  }

  .tab-container {
    padding-right: 40px;

    .navbar {
      z-index: 5;
      border-color: transparent;
      width: 100%;
      display: flex;

      .item {
        transition: border .5s ease-in-out;
        font-size: larger;
        font-weight: bold;
        padding: 20px;
        border-color: transparent;
        z-index: 5;
        display: flex;

        .amplify-text {
          color: #f7f5ef;
          margin-top: auto;
          margin-bottom: auto;
          text-wrap: nowrap;
        }

        .icon {
          margin-right: 5px;
          margin-top: auto;
          margin-bottom: auto;
        }
      }

      .item:hover,
      .item[aria-selected='true'] {
        border-color: white;
      }
    }
  }
}

.amplify-menu__wrapper {
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;

  .amplify-menu__content {
    overflow: auto !important;

    .amplify-button:hover {
      background-color: #008080;
    }
  }
}


@media screen and (max-width: 1460px) {
  .flex-container {
    padding-top: 15px;
    padding-bottom: 15px;

    .MuiBadge-badge {
      display: block;
    }

    .amplify-button {
      display: flex;
    }

    .tab-container {
      display: none;
    }
  }
}