/* all css for the pre load screen component */

.loading-container {
  justify-content: center;
  align-items: center;
  height: 100%;

  .text {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
  }


  .MuiCircularProgress-root {
    color: #008080;
    height: 6rem !important;
    width: 6rem !important;
  }
}