@import 'Animations.css';

.sideBar {
    height: -webkit-fill-available;
    width: 0px;
    z-index: 1;
    position: fixed;
    right: 0;
    transition: width .5s ease-in-out, border-left-width .5s ease-out;
    overflow: hidden;
    padding: 0;
    border-left: 4px solid #000;

    .link {
        text-decoration: none;
    }

    &.active {
        width: 385px;
        border-left-width: 2px;
    }

    .header {
        display: flex;
        flex-direction: row;

        .collapse {
            float: right;
            margin: 10px;
            cursor: pointer;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }

        .text {
            float: left;
            margin: auto;
            margin-left: 30px !important;
            font-size: x-large;
            font-weight: bold;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;

        .avatar {
            width: 150px;
            height: 150px;
            margin-bottom: 20px;
        }

        .text {
            font-size: x-large;
            font-weight: bold;
        }
    }

    .tab {
        display: flex;
        flex-direction: row;
        cursor: pointer;

        &.switcher {
            cursor: default !important;
        }

        .text {
            margin: auto;
            margin-left: 30px !important;
            font-size: larger;
            font-weight: bold;
        }

        .icon {
            margin: 10px;
            cursor: pointer;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .tab:not(.switcher):hover {
        background-color: hsl(0, 0%, 100%, 0.1);
    }

    .footer {
        position: sticky;
        top: 100%;
    }
}