.account-tab:hover,
.account-tab[aria-selected='true'] {
    color: #008080;
    border-color: #008080;
}

.table {
    margin-top: 40px;
    box-shadow: 0 0 20px -4px #000;
    border-radius: 15px;
    table-layout: fixed;
    border-collapse: collapse !important;
    width: 100%;

    tr th:first-child {
        border-top-left-radius: 15px;
    }

    tr th:last-child {
        border-top-right-radius: 15px;
    }

    tr {
        th {
            background-color: #008080;
            color: white;
            font-size: large;
            font-weight: bold;
            overflow: hidden;
        }

        td,
        th {
            text-align: center;
            padding-left: 20px !important;
            padding: 10px;


            &.title {
                width: 30%;
            }

            &.created-on {
                width: 20%;
            }

            &.actions {
                width: 15% !important;
                position: relative;
                z-index: 2;
            }

            &.description {
                width: 35% !important;
            }

            .amplify-text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        th:first-child,
        td:first-child,
        th:nth-child(2),
        td:nth-child(2) {
            text-align: left !important;
        }

    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 15px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 15px;
    }
}

.icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 5px;

    &.delete {
        color: red;
    }
}

.icon:hover {
    opacity: 50%;
}